<%= stylesheet_link_tag 'start_questions_index', media: 'all' %>

<div class="quiz_area">
  <div class="quiz_set">
      <div class="quiz_number">
        第<span class="quiz_no">0</span>問
      </div>
      <div class="quiz_question">
      </div>
      <div class="child-penguin">
        <%= image_tag 'penguin-c.png', alt: '子ペンギンの画像', title:'子ペンギン' %>
      </div>
  </div>
  <p>回答ボタンを押してください</p>
  <div class="quiz_ans_area" type="button">
    <ul></ul>
  </div>
  <div class="quiz_result">
  </div>
</div>



<script>
$(function(){
     var quizArea = $('.quiz_area'); 
     var quiz_html = quizArea.html(); 
     var quiz_cnt = 0;
    
     var quiz_fin_cnt = <%= Question.all.count %>; 
     var quiz_success_cnt = 0;

     var sourceStr = "&" ;
     var a = sourceStr.replace( "&" , "" );

     var question = <%= Question.pluck(:content).to_json.html_safe %>;

     console.log(typeof(question));

    
    var aryQuiz = [];
    aryQuiz.push( 
        {
            question : question[0],
            
            <% question_id = Question.find_by(content: Question.pluck(:content)[0]).id %>
            <% answer_id = QuestionAnswer.find_by(question_id: question_id ).answer_id %>
            answer : <%= Answer.where(id: answer_id).pluck(:answer1, :answer2, :answer3)[0].to_json.html_safe %>
        }
        ,{
            question : question[1],
            answer : ['8月11日', '8月24日', '8月17日']
        }
        ,{
            question : question[2],
            answer : ['明治神宮野球場', '東京ドーム', 'メットライフドーム']
        }
        ,{
            question : question[3],
            answer : ['2019年4月30日', '2019年3月31日', '2019年5月31日']
        }
        ,{
            question : question[4],
            answer : ['世界に一つだけの花', 'オレンジ', '青いイナズマ']
        }
    );
    


    quizReset();

    function quizReset(){
        quizArea.html(quiz_html); //表示を元に戻す
        quiz_cnt = 0;
        quiz_success_cnt = 0;
        //aryQuiz = arrShuffle(aryQuiz); //毎回出題の順番をシャッフルしたい場合はここのコメントを消してね
        quizShow();
    };

    
    quizArea.on('click', '.quiz_ans_area ul li', function(){ 
        console.log('こんにちは');
        quizArea.find('.quiz_area_bg').show();
        $(this).addClass('selected');
        if($(this).data('true')){
            quizArea.find('.quiz_area_icon').addClass('true');
            quiz_success_cnt++;
        }else{
            quizArea.find('.quiz_area_icon').addClass('false');
        }
        setTimeout(function(){
            //表示を元に戻す
            quizArea.find('.quiz_ans_area ul li').removeClass('selected');
            quizArea.find('.quiz_area_icon').removeClass('true false');
            quizArea.find('.quiz_area_bg').hide();
            //問題のカウントを進める
            quiz_cnt++;
            if(quiz_fin_cnt > quiz_cnt){
                //次の問題を設定する
                quizShow();
            }else{
                //結果表示画面を表示
                quizResult();
            }
        }, 1500);
    });

     //問題を表示する関数
    function quizShow(){
        //何問目かを表示
        quizArea.find('.quiz_no').text((quiz_cnt + 1));
        //問題文を表示
        quizArea.find('.quiz_question').text(aryQuiz[quiz_cnt]['question']);
        //正解の回答を取得する
        var success = aryQuiz[quiz_cnt]['answer'][0];
        //現在の選択肢表示を削除する

        quizArea.find('.quiz_ans_area ul').empty();
        //問題文の選択肢をシャッフルさせる(自作関数) .concat()は参照渡し対策
        var aryHoge = arrShuffle(aryQuiz[quiz_cnt]['answer'].concat());
        //問題文の配列を繰り返し表示する
        $.each(aryHoge, function(key, value){
            var fuga = '<li>' + value + '</li>';
            //正解の場合はdata属性を付与する
            if(success === value){
                fuga = '<li data-true="1">' + value + '</li>';
            }
            quizArea.find('.quiz_ans_area ul').append(fuga);
        });
    }
    
     //結果を表示する関数
    function quizResult(){
        quizArea.find('.quiz_set').hide();
        var text = quiz_fin_cnt + '問中' + quiz_success_cnt + '問正解！';
        if(quiz_fin_cnt === quiz_success_cnt){
            text += '<br>全問正解おめでとう！';
        }
        text += '<br><input type="button" value="もう一度挑戦する" class="quiz_restart p-10">';
        quizArea.find('.quiz_result').html(text);
        quizArea.find('.quiz_result').show();
    }

     //配列をシャッフルする関数
    function arrShuffle(arr){
        for(i = arr.length - 1; i > 0; i--){
            var j = Math.floor(Math.random() * (i + 1));
            var tmp = arr[i];
            arr[i] = arr[j];
            arr[j] = tmp;
        }
        return arr;
    }

    
});
</script>