<!DOCTYPE html>
<html lang="ja" class="no-js">
  
<!----------------- Header --------------------------->
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>ページのタイトル</title>
      
      <script type="module">
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
      </script>
      <meta name="description" content="ページの説明文">
      <link rel="icon" href="/favicon.icon.png">
      <link rel="apple-touch-icon" href="/apple-touch-icon.png">
      <link rel="manifest" href="/my.webmanifest">
    </head>
  <!----------------- /Header --------------------------->
  <!----------------- Body --------------------------->
    <body>

    <div class="mv">
      <div class="mv-bg">
        <%= image_tag 'logo.svg', alt: 'sambo', class: 'titleimage' %>
        <span>家事育児スキル認定アプリ</span>
        <p>説明文</p>
      </div>
      <div class="mv-penguin">
        <%= image_tag 'penguin.png', alt: '親ペンギンの画像', title:'親ペンギン',class: 'penguin' %>
      </div>
    </div>

    <div class="veen">
      <div class="login-btn splits">
        <p>おかえりなさい！</p>
        <button class="active">ログイン</button>
      </div>
      <div class="rgstr-btn splits">
        <!-- <p>はじめての方はこちら</p> -->
        <!-- <button>サインアップ</button> -->
          <div class="level-select">
            <div class="easy-question">
              <%= link_to "初級", start_questions_path %>
              <p>初めての方はこちら</p>
            </div>
            <div class="normal-question">
              <%= link_to "中級", start_questions_path%>
              <p>人生の必須知識を<br>身に着けましょう</p>
            </div>
            <div class="hard-question">
              <%= link_to "上級", start_questions_path %>
              <p>「パートナー」はおまかせあれ</p>
            </div>
          </div>
      </div>

      <div class="wrapper">
        <form id="login" tabindex="500">
          <h3>ログイン</h3>
          <div class="mail">
            <input type="mail" name="">
            <label>メールアドレスかユーザーネーム</label>

            
            

          </div>
          <div class="passwd">
            <input type="password" name="">
            <label>パスワード</label>
          </div>

          <div class="submit">
            <button class="login">ログイン</button>
          </div>
        </form>

        <form id="login" tabindex="500" style="padding-top: 0%;">
            <h3>初めての方はこちら</h3>
            <div class="submit">
              <button class="signup">サインアップ</button>
            </div>
        </form>


        <form id="register" tabindex="502">
          <h3>サインアップ</h3>
          <div class="name">
            <input type="text" name="">
            <label>お名前</label>
          </div>
          <div class="mail">
            <input type="mail" name="">
            <label>メールアドレス</label>
          </div>
          <div class="uid">
            <input type="text" name="">
            <label>ユーザーネーム</label>
          </div>
          <div class="passwd">
            <input type="password" name="">
            <label>パスワード</label>
          </div>
          <div class="submit">
            <button class="signup">サインアップ</button>
          </div>
        </form>
      </div>
    </div>	


        

  </body>
  <!-----------------/Body --------------------------->

</html>
