<!-- index.htmlから持ってきた記述 -->
<!DOCTYPE html>
<html lang="ja" class="no-js">
  <!----------------- Head --------------------------->
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ページのタイトル</title>
    
    <script type="module">
      document.documentElement.classList.remove('no-js');
      document.documentElement.classList.add('js');
    </script>
    
    # <link rel="stylesheet" href="/assets/stylesheets/application.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <meta name="description" content="ページの説明文">
    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/my.webmanifest">
    </head>
  <!----------------- /Head --------------------------->

  <!----------------- Body --------------------------->
  <!----------------- Header --------------------------->
  <!-- codepenのナビゲーションの記述 -->
  <body>
    <header role="banner">
      <div id="cd-logo">
        <a href="#0"></a>
        <a class="img" href="/home/index"><h1>SAMBO 〜家事育児スキル認定アプリ〜</h1></a>
        <nav class="main-nav">
          <ul>
            <!-- inser more links here -->
             <li><a class="cd-signin" href="#0"><%= link_to 'ログイン', new_user_session_path, class: 'post' %></a></li>
             <li><a class="cd-signup" href="#0"><%= link_to 'サインアップ', new_user_registration_path, class: 'post' %></a></li>
             <li><a class="cd-logout" href="#0"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %> </li>
            <!-- <li><a class="cd-signin" href="#0">ログイン</a></li> -->
            <!-- <li><a class="cd-signup" href="#0">サインアップ</a></li> -->

            
          </ul>
        </nav>
      </div>
    </header>

    


    <!----------------- /Header --------------------------->
    <% if user_signed_in? %>     
        <strong><%= link_to 'ユーザー', start_questions_path %></strong> 
      <a> <%= current_user.username %> さん おかえりなさい！ </a>
      <% else %>
      <a>ゲストさんこんにちは！</a>
       <strong><%= link_to 'ユーザー', home_index_path %></strong> 
      
    <% end %>
    <%= yield %>


  <!----------------- Footer --------------------------->
  <!------------- codepenのフッター --------------->
    <div class="rela-block footer">
    <div class="rela-block social-buttons-container">
        <div class="social-button facebook-button"></div>
        <div class="social-button insta-button"></div>
        <div class="social-button twitter-button"></div>
        <div class="social-button pinterest-button"></div>
    </div>
    <div class="rela-block footer-links-container">
        <div class="footer-flex-column">
            <ul> Projects
                <li>Chillwave</li>
                <li>Gluten-free</li>
                <li>Kitsch Cardigan</li>
            </ul>
        </div>
        <div class="footer-flex-column">
            <ul> About us
                <li>Fingerstache</li>
                <li>Lumbersexual</li>
                <li>Lo-Fi Aesthitic</li>
            </ul>
        </div>
        <div class="footer-flex-column">
            <ul> Community
                <li>Kale Chips</li>
                <li>Church Key</li>
                <li>Longboarding</li>
            </ul>
        </div>
        <div class="footer-flex-column">
            <ul> Connect
                <li>Pinterest</li>
                <li>Etsy</li>
                <li>Blog Swag</li>
            </ul>
        </div>
    </div>

    <!----------------- copyrights ----------------------->
    <div id="copyrights">
      <div class="container">
        <p> © Copyrights <strong>HogeHoge</strong>. All Rights Reserved</p>
      </div>
    </div>
    <!----------------- /copyrights ----------------------->
    <!----------------- Footer --------------------------->
  </body>
  <!----------------- /Body --------------------------->

  
</html>
